# Assignment_1



---

1.In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
'hello'

-87.8

-

/

+

6

2.What is the difference between string and variable?

3.Describe three different data types.

4.What is an expression made up of? What do all expressions do?

5.This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

6.After running the following code, what does the variable bacon contain?

- bacon = 22
- bacon + 1

7. What should the values of the following two terms be?

'spam' + 'spamspam'

'spam' * 3

8. Why is eggs a valid variable name while 100 is invalid?

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

10. Why does this expression cause an error? How can you fix it?

- 'I have eaten' + 99 + 'burritos'

# Answer Sheet

---



---

1.In the below elements which of them are values or an expression? **eg:-** values can be integer or string and expressions will be mathematical operators.  

`*`,`'hello'`, 

`-87.8`

,`-`,

`/`,`

`+`,

`6`


Ans: 

There are a total of 4 Operators and 3 Expressions, They are:  
**Operators:** `*`,`-`,`/`,`+`  
**Expressions:** `'hello'`, `87.8`, `6`



---

2.What is the difference between string and variable?

Ans: 

A Variable is used to store of information, and a String is a type of information you would store in a Variable. A String is a group of characters or a single character usually enclosed in (Double quotes `" "`) or (single quotes `' '`)



---

3.Describe three different Data Types ?

Ans:

 Three fundamental Data types in python are `int`, `float`, `complex`.
 
1. **int data type**: We can use int data type to represent whole numbers (integral values)

2. **float data type**: We can use float data type to represent floating point values (decimal values)

3. **complex data type**: Complex number is represented by complex class. It is specified as (real part) + (imaginary part)j.

In [1]:
# Example for int data type
int_num=4567
print(int_num, type(int_num))

# Example for float data type
flo_num=1.2e3
print(flo_num, type(flo_num))

# Example for Complex data type
com_num=10+1.5j
print(com_num, type(com_num))

4567 <class 'int'>
1200.0 <class 'float'>
(10+1.5j) <class 'complex'>



---

4.What is an expression made up of? What do all expressions do?

Ans: 

An expression is a combination of values, variables, operators, and calls to functions.

    - Expressions need to be evaluated. If we ask Python to print an expression,  the interpreter 
    evaluates the expression and displays the result.

In [2]:
# Example:
4*5+20-40 # The Expression, The Python Interpreter Evaluates it to 0

0



---

5.This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Ans:

An expression is a combination of values, variables, and operators.When we type an expression at the prompt, 
the interpreter evaluates it, which means that it finds the value of the expression.

`eg: 4*5+20-40 is an example of a statement`

A statement is a unit of code that has an effect, like creating a variable or displaying a value.When we type a statement,
the interpreter executes it, which means that it does whatever the statement says. In general, statements donâ€™t have values.

`eg: variable declaration and assignment are statements because they do not return a value`

In [3]:
# Example:
4*5+20-40 # Expression
courseName = 'INeuron FullStack DataScience' # Statement
print("Hello World !") # Expression Statement

Hello World !



---

6.After running the following code, what does the variable bacon contain?

`bacon = 22`  
`bacon + 1`

Ans:

The variable `bacon` is set to `22` .The expression `bacon + 1` does not reassign the value in
bacon (that would the case if the expression is like `bacon = bacon + 1` instead of `bacon + 1`)

In [4]:
# Example Case#-1
bacon = 22
bacon+1
print(bacon)

22

In [6]:
#Example Case-2
bacon = 22
bacon = bacon + 1 
print(bacon)

23



---

7.What should the values of the following two terms be?  
`'spam'+'spamspam'`  
`'spam'*3`

Ans:

Both expressions evaluate to the string **`'spamspamspam'`**
Where as the first expression follows `String Concatentation` and the second expression follows `String Multiplication`

In [7]:
# Example:
print('spam'+'spamspam') # string concatenation

print('spam'*3) # string multiplication

spamspamspam
spamspamspam



---

8.Why is eggs a valid variable name while 100 is invalid?

Ans:

As per python,Variable names cannot begin with a number. The python rules for naming a variable are :- 
1. Variable name must start with a letter or the underscore character.
2. Variable name cannot start with a number.
3. Variable name can only contain alpha-numeric characters and underscores
` (A-z, 0-9, & _ ).`
4. Variable names are case-sensitive (name, `HARRY` and `harry` are three different variables).
5. The reserved words(keywords) cannot be used naming the variable.

In [8]:
# Example:
egg='Harry' # Valid variable Initilization

100 ='hello' # Invalid Variable Initilization

print(egg) # prints the value of egg ie Harry

print(100) # Syntax Error as 100 is not a valid

SyntaxError: ignored



---

9.What three functions can be used to get the integer,floating-point 
number,or string version of a value?

Ans:

The `int()`,`float()`,and `str()` functions will evaluate to the integer,floating-point number,string version of the value passed to them.

In [12]:
# Examples:
print('int(12.0) -> ',int(12.0)) # int() converts input to int

print('float(12) -> ',float(12)) # float()  converts  input to float

print('str(12) -> ',str(12)) # str() converts  input to string

int(12.0) ->  12
float(12) ->  12.0
str(12) ->  12



---

10.Why does this expression cause an error? how can you fix it?  
`'I have eaten ' + 99 + 'burritos.'`

Ans: 

This cause of error is 99.because 99 is not a string. 99 must be typecasted to a string to fix this error. the correct way is:  

- Input: `'I have eaten ' + str(99) + 'burritos.'`  
- Output: `'I have eaten 99 burritos.'`

In [13]:
# Example:
print('I have eaten '+str(99)+' burritos')

I have eaten 99 burritos



---



---